.success {
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
